.page {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.page__body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page__header {
  height: 100vh;
  color: $header-text-color;
  background-color: $header-background-color;
}

.page__main {
  color: $main-text-color;
  background-color: $main-background-color;

  h1 {
    color: #253757;
  }
}

.container {
  @include content-padding-inline;
}
