@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-design {
  @media (min-width: $design-min-width) {
    @content;
  }
}

@mixin on-large {
  @media (min-width: $large-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 41px;
  }

  @include on-desktop {
    padding-inline: 54px;
  }

  @include on-design {
    padding-inline: 227px;
  }

  @include on-large {
    padding-inline: 707px;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-desktop {
    --columns: 12;

    column-gap: 20px;
  }

  @include on-large {
    --columns: 12;

    column-gap: 30px;
  }

  @include on-design {
    --columns: 12;

    column-gap: 20px;
  }
}

@mixin form-input {
  width: 100%;
  height: 41px;
  padding: 0 0 10px;
  box-sizing: border-box;
  border: none;
  background-color: #2C2C2C;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;

  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #fff;

  transition:
    border-color .3s ease;


  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
    transition: color .3s ease;
  }

  &.filled,
  &:hover,
  &:focus {
    border-color: #144ED4;
    color: rgba(255, 255, 255, 1);

    &::placeholder {
      color: rgba(255, 255, 255, 1);
    }
  }

  &:focus {
    outline: none;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #2C2C2C inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white;
  }
}

@mixin socials-icon {
  content: '';
  display: inline-block;
  height: 32px;
  width: 32px;
}
